[{*.sh,.*}]
# Following Google Shell Style Guide
# https://google.github.io/styleguide/shellguide.html
indent_style = space
indent_size = 2
switch_case_indent = true
binary_next_line = true
space_redirects = true
