services:
  common:
    image: scratch
    user: root
    volumes:
      - ${PWD}:${PWD}
    working_dir: ${PWD}
    tty: true
    pull_policy: never
    environment:
      - HOME=${HOME}
      - COLORTERM=truecolor
  bashls:
    image: bashls
    build:
      context: ./.dockerfiles/bashls
      dockerfile: Dockerfile
    extends: common
  clangd:
    image: lspcontainers/clangd-language-server
    extends: common
    pull_policy: missing
  gnuplot:
    image: gnuplot
    build:
      context: ./.dockerfiles/gnuplot
      dockerfile: Dockerfile
    extends: common
  gemini-cli:
    build:
      context: ./.dockerfiles/gemini-cli
      dockerfile: Dockerfile
    image: gemini-cli
    volumes:
      - ${HOME}/.config/gemini:${HOME}/.gemini
    extends: common
  gh:
    build:
      context: ./.dockerfiles/gh
      dockerfile: Dockerfile
    image: gh
    volumes:
      - ${HOME}/.config/gh:${HOME}/.config/gh
    extends: common
  hls:
    image: hls
    build:
      context: ./.dockerfiles/hls/
      dockerfile: Dockerfile
    environment:
      - CABAL_DIR=${PWD}/.cabal
    extends: common
  lua_ls:
    image: lspcontainers/lua-language-server
    extends: common
    pull_policy: missing
  neovim:
    image: neovim
    build:
      context: ./.dockerfiles/neovim/
      dockerfile: Dockerfile
    volumes:
      - ${HOME}/compose.yaml:${HOME}/compose.yaml
      - ${HOME}/.cache/nvim:${HOME}/.cache/nvim
      - ${HOME}/.config/github-copilot:${HOME}/.config/github-copilot
      - ${HOME}/.config/nvim:${HOME}/.config/nvim
      - ${HOME}/.docker:${HOME}/.docker
      - ${HOME}/.dockerfiles:${HOME}/.dockerfiles
      - ${HOME}/.local/share/nvim:${HOME}/.local/share/nvim
      - ${HOME}/.local/state/nvim:${HOME}/.local/state/nvim
      - ${HOME}/.local/bin:/usr/local/bin
      - ${XDG_RUNTIME_DIR}/docker.sock:${XDG_RUNTIME_DIR}/docker.sock
    environment:
      - XDG_RUNTIME_DIR=${XDG_RUNTIME_DIR}
      - DOCKER_CONTEXT=${DOCKER_CONTEXT}
    extends: common
  node-tsserver:
    image: node-tsserver
    build:
      context: ./.dockerfiles/node-tsserver/
      dockerfile: Dockerfile
    volumes:
      - ${HOME}/.npm:${HOME}/.npm
    extends: common
  poetry:
    image: poetry
    build:
      context: ./.dockerfiles/poetry/
      dockerfile: Dockerfile
    environment:
      - POETRY_CACHE_DIR=${PWD}/.cache
    extends: common
  rust:
    image: rust:1.90.0-slim-bullseye
    environment:
      - CARGO_HOME=${PWD}/.cargo
    extends: common
    pull_policy: missing
  rye:
    image: rye
    build:
      context: ./.dockerfiles/rye/
      dockerfile: Dockerfile
    extends: common
    volumes:
      - ${HOME}/.cache:${HOME}/.cache
  texlab:
    image: texlab
    build:
      context: ./.dockerfiles/texlab/
      dockerfile: Dockerfile
    extends: common
  uv:
    image: uv
    build:
      context: .
      dockerfile: ./.dockerfiles/uv/Dockerfile
    environment:
      - UV_CACHE_DIR=${PWD}/.cache
      - UV_PYTHON_INSTALL_DIR=${PWD}/.python
    extends: common
