services:
  common:
    image: scratch
    volumes:
      - ${PWD}:${PWD}
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
    working_dir: ${PWD}
    user: ${UID}:${GID}
    tty: true
    pull_policy: never
    environment:
      - COLORTERM=truecolor
  bashls:
    image: bashls
    build:
      context: ./.dockerfiles/bashls
      dockerfile: Dockerfile
    extends: common
  clangd:
    image: lspcontainers/clangd-language-server
    extends: common
    pull_policy: missing
  gnuplot:
    image: gnuplot
    build:
      context: ./.dockerfiles/gnuplot
      dockerfile: Dockerfile
    extends: common
  gemini-cli:
    build:
      context: ./.dockerfiles/gemini-cli
      dockerfile: Dockerfile
    image: gemini-cli
    volumes:
      - ${HOME}/.config/gemini:${HOME}/.gemini
    extends: common
  gh:
    build:
      context: ./.dockerfiles/gh
      dockerfile: Dockerfile
    image: gh
    volumes:
      - ${HOME}/.config/gh:${HOME}/.config/gh
    extends: common
  hls:
    image: hls
    build:
      context: ./.dockerfiles/hls/
      dockerfile: Dockerfile
    environment:
      - CABAL_DIR=${PWD}/.cabal
    extends: common
  lua_ls:
    image: lspcontainers/lua-language-server
    extends: common
    pull_policy: missing
  node-tsserver:
    image: node-tsserver
    build:
      context: ./.dockerfiles/node-tsserver/
      dockerfile: Dockerfile
    volumes:
      - ${HOME}/.npm:${HOME}/.npm
    extends: common
  poetry:
    image: poetry
    build:
      context: ./.dockerfiles/poetry/
      dockerfile: Dockerfile
    environment:
      - POETRY_CACHE_DIR=${PWD}/.cache
    extends: common
  rust:
    image: rust:1.90.0-slim-bullseye
    environment:
      - CARGO_HOME=${PWD}/.cargo
    extends: common
    pull_policy: missing
  rye:
    image: rye
    build:
      context: ./.dockerfiles/rye/
      dockerfile: Dockerfile
    extends: common
    volumes:
      - ${HOME}/.cache:${HOME}/.cache
  texlab:
    image: texlab
    build:
      context: ./.dockerfiles/texlab/
      dockerfile: Dockerfile
    extends: common
  uv:
    image: uv
    build:
      context: .
      dockerfile: ./.dockerfiles/uv/Dockerfile
    environment:
      - UV_CACHE_DIR=${PWD}/.cache
      - UV_PYTHON_INSTALL_DIR=${PWD}/.python
    extends: common
