services:
  common:
    image: scratch
    volumes:
      - ${PWD}:${PWD}
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
    working_dir: ${PWD}
    user: ${UID}:${GID}
    tty: true
  bashls:
    image: genjiohara/bashls
    extends: common
  clangd:
    image: lspcontainers/clangd-language-server
    extends: common
  gnuplot:
    image: genjiohara/gnuplot
    extends: common
  cabal:
    image: genjiohara/cabal
    environment:
      - CABAL_DIR=${PWD}/.cabal
    extends: common
  gh:
    build:
      context: ./.dockerfiles/gh
      dockerfile: Dockerfile
    image: gh
    volumes:
      - ${HOME}/.config/gh:${HOME}/.config/gh
    extends: common
  hls:
    image: genjiohara/hls
    extends: cabal
  lua_ls:
    image: lspcontainers/lua-language-server
    extends: common
  node-tsserver:
    image: node-tsserver
    build:
      context: ./.dockerfiles/node-tsserver/
      dockerfile: Dockerfile
    volumes:
      - ${HOME}/.npm:${HOME}/.npm
    pull_policy: never
    extends: common
  poetry:
    image: genjiohara/poetry:ubuntu
    environment:
      - POETRY_CACHE_DIR=${PWD}/.cache
    extends: common
  rust:
    image: rust:1.90.0-slim-bullseye
    environment:
      - CARGO_HOME=${PWD}/.cargo
    extends: common
  rye:
    image: genjiohara/rye:0.43.0
    extends: common
    volumes:
      - ${HOME}/.cache:${HOME}/.cache
  texlab:
    image: genjiohara/texlab
    extends: common
  uv:
    image: genjiohara/uv
    build:
      context: .
      dockerfile: ./.dockerfiles/uv/Dockerfile
    environment:
      - UV_CACHE_DIR=${PWD}/.cache
      - UV_PYTHON_INSTALL_DIR=${PWD}/.python
    extends: common
