services:
  common:
    image: scratch
    user: root
    build:
      context: ./dockerfiles
    volumes:
      - ${PWD}:${PWD}
      - /etc/localtime:/etc/localtime:ro  # Sync container time with host time
    working_dir: ${PWD}
    tty: true
    pull_policy: never
    environment:
      - COLORTERM=truecolor
  bashls:
    image: bashls
    build:
      dockerfile: bashls/Dockerfile
    extends: common
  cabal:
    image: cabal
    build:
      dockerfile: cabal/Dockerfile
    volumes:
      - ${HOME}/.cache/cabal:/root/.cache/cabal
      - ${HOME}/.config/cabal:/root/.config/cabal
      - ${HOME}/.local/state/cabal:/root/.local/state/cabal
    extends: common
  clangd:
    image: lspcontainers/clangd-language-server
    extends: common
    pull_policy: missing
  gcc:
    image: gcc:12.2
    extends: common
    pull_policy: missing
  gnuplot:
    image: gnuplot
    build:
      dockerfile: gnuplot/Dockerfile
    extends: common
  gemini-cli:
    build:
      dockerfile: gemini-cli/Dockerfile
    image: gemini-cli
    volumes:
      - ${HOME}/.config/gemini:/root/.gemini
    extends: common
  gh:
    build:
      dockerfile: gh/Dockerfile
    image: gh
    volumes:
      - ${HOME}/.config/gh:/root/.config/gh
    extends: common
  firefox:
    image: firefox:0.0
    build:
      dockerfile: firefox/Dockerfile
    extends: common
    environment:
      - DISPLAY=${DISPLAY}
      - GTK_IM_MODULE=xim
      - QT_IM_MODULE=${QT_IM_MODULE}
      - XMODIFIERS=${XMODIFIERS}
      - DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/bus
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:ro
      - ${HOME}/.mozilla:/root/.mozilla
      - ${HOME}/.cache/mozilla:/root/.cache/mozilla
      - ${HOME}/.config/fcitx5:/root/.config/fcitx5:ro
      - ${HOME}/Downloads:/root/Downloads
      - /run/user/1000/bus:/run/user/bus
  hls:
    image: hls
    build:
      dockerfile: hls/Dockerfile
    environment:
      - CABAL_DIR=${PWD}/.cabal
    extends: common
  lua_ls:
    image: lspcontainers/lua-language-server
    extends: common
    pull_policy: missing
  neovim:
    image: neovim:0.0
    build:
      dockerfile: neovim/Dockerfile
    volumes:
      - ${HOME}/.cache/nvim:/root/.cache/nvim
      - ${HOME}/.config/github-copilot:/root/.config/github-copilot
      - ${HOME}/.config/nvim:/root/.config/nvim
      - ${HOME}/.docker:/root/.docker
      - ${HOME}/.dockerscripts:/root/.dockerscripts
      - ${HOME}/.local/share/nvim:/root/.local/share/nvim
      - ${HOME}/.local/state/nvim:/root/.local/state/nvim
      - ${XDG_RUNTIME_DIR}/docker.sock:${XDG_RUNTIME_DIR}/docker.sock
    environment:
      - XDG_RUNTIME_DIR=${XDG_RUNTIME_DIR}
      - DOCKER_CONTEXT=${DOCKER_CONTEXT}
    extends: common
  node-tsserver:
    image: node-tsserver
    build:
      dockerfile: node-tsserver/Dockerfile
    volumes:
      - ${HOME}:/root/
    extends: common
  poetry:
    image: poetry
    build:
      dockerfile: poetry/Dockerfile
    environment:
      - POETRY_CACHE_DIR=${PWD}/.cache
    extends: common
  rust:
    image: rust:1.90.0-slim-bullseye
    environment:
      - CARGO_HOME=${PWD}/.cargo
    extends: common
    pull_policy: missing
  rye:
    image: rye
    build:
      dockerfile: rye/Dockerfile
    extends: common
    volumes:
      - ${HOME}/.cache:/root/.cache
  texlab:
    image: texlab
    build:
      dockerfile: texlab/Dockerfile
    extends: common
  uv:
    image: uv
    build:
      dockerfile: uv/Dockerfile
    environment:
      - UV_CACHE_DIR=${PWD}/.cache
      - UV_PYTHON_INSTALL_DIR=${PWD}/.python
    extends: common
